.header {
  margin-top: 50px;
  text-align: center;
}

.report-issue-card {
  border: #000000 solid 2px;
  border-radius: 15px;
  height: 450px;
}

.report-issue-input {
  min-height: 150px;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
}

.report-issue-input::placeholder {
  color: #999;
}
