<ion-content [fullscreen]="true">
  <svg width="1000" height="1000" style="position: absolute; top: -10px; left: -10px;">
    <circle cx="50" cy="0" r="80" fill="black" />
  </svg>
  <div *ngIf="issueReported" >
    <app-notification [message]="'Issue Reported'"></app-notification>
  </div>
  <div *ngIf="error" >
    <app-error-alert [message]="errorMessage"></app-error-alert>
  </div>
  <ion-grid [fixed]="true" style="z-index: 1">
    <ion-row>
      <ion-col>
        <div class="header">
          <h1>Report An Issue</h1>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="report-issue-card" >
          <ion-card-content>
            <ion-item>
              <ion-textarea
                [(ngModel)]="issue"
                class="report-issue-input"
                [clearOnEdit]="true"
                placeholder="Enter text..."
                required="true"
                rows="6"
                auto-grow="true"
              ></ion-textarea>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-settings-tab-menu (submit)="submitReport()" [sub]="true"/>
</ion-content>
