
<ion-content [fullscreen]="true">
  <svg width="500" height="1000" style="position: absolute; top: -10px; left: -10px;">
    <circle cx="400" cy="20" r="170" fill="black" />
  </svg>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col>
        <h1>Terms and Conditions</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elementum tellus quis enim pharetra, nec feugiat risus cursus. Duis in auctor ante. Sed eu facilisis neque, et porta magna. Proin cursus velit eu mi vulputate, vitae volutpat nulla facilisis. Praesent a ante aliquet, tempor nulla imperdiet, aliquam libero. Aliquam ut laoreet est. Donec faucibus ipsum arcu, luctus molestie libero lacinia non. Proin ut maximus arcu, iaculis dignissim mauris. Etiam finibus enim tempus convallis laoreet. Pellentesque vestibulum vulputate pellentesque. Duis eu diam at enim eleifend sollicitudin sit amet at ex. Nulla facilisi. Proin ultrices, nisi et tristique hendrerit, est erat fermentum sem, ac semper lorem est nec sapien. In aliquam ex ligula, ut scelerisque nisi scelerisque sed. Nunc euismod dolor id nisl varius, eu sodales dolor vehicula.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/authentication/register']">Back to menu</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
