<ion-content>
  <svg width="500" height="500" style="position: absolute; top: -10px; left: -10px;">
    <circle cx="20" cy="20" r="170" fill="black" />
  </svg>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col>
        <ion-img
        src="assets/images/fitflow-logo.png"
        alt="Fitflow Logo"
      ></ion-img>
      </ion-col>
    </ion-row>
    <div class="button-container">
      <ion-row>
        <ion-col size="6" offset="3" class="ion-text-center">
            <ion-button [routerLink]="['/authentication/register']">Create Account</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" offset="3" class="ion-text-center">
          <ion-button [routerLink]="['/authentication/login']">Existing User? Login</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
