<ion-content [fullscreen]="true">
  <ion-card>
    <ion-input [(ngModel)]="search" [value]="search" (input)="updateResults($event)" placeholder="Enter barcode number or item"></ion-input>
  </ion-card>
  <ion-card *ngFor="let food of filteredFoodArray" (click)="selectProduct(food.barcodeNumber)" [routerLink]="['/product/product-information']">
    <ion-card-header>
      <ion-card-title>{{ food.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Brand: {{ food.brand }}</p>
      <p>Calories: {{ food.calories }} kcal</p>
    </ion-card-content>
  </ion-card>
  <tab-menu [product]="true" [barcodeScanner]="true" [enterManually]="false"></tab-menu>
</ion-content>
