<ion-content [fullscreen]="true">

  <app-product-header [name]="name" [brand]="brand" [ratingArray]="ratingArray"></app-product-header>
    <canvas [id]="chartID" width="100" height="100"></canvas>

  <div *ngIf="productAdded" >
    <app-notification [message]="'Item Added'"></app-notification>
  </div>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <ion-card-content>
              <ion-row class="ion-align-items-center">
                <ion-col size="auto">
                  <div class="progress-circle carbs">
                    <div class="progress-value">{{getMicroTotalGrams(carbs)}}%</div>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="label">Carbs</div>
                  <div class="value">{{carbs}}g</div>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-card-content>
              <ion-row class="ion-align-items-center">
                <ion-col size="auto">
                  <div class="progress-circle " style="border: 4px solid {{getSatisfactionInfo(satisfaction).colour}};">
                    <div class="progress-value" >{{satisfaction}}%</div>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="label">Satisfaction</div>
                  <div class="value">{{getSatisfactionInfo(satisfaction).text}}</div>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <ion-card-content>
              <ion-row class="ion-align-items-center">
                <ion-col size="auto">
                  <div class="progress-circle protein">
                    <div class="progress-value">{{getMicroTotalGrams(protein)}}%</div>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="label">Protein</div>
                  <div class="value">{{protein}}g</div>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-card-content>
              <ion-row class="ion-align-items-center">
                <ion-col size="auto">
                  <div class="progress-circle fibre">
                    <div class="progress-value">{{getMicroTotalGrams(fibre)}}%</div>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="label">Fibre</div>
                  <div class="value">{{fibre}}g</div>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-button [routerLink]="['/product/reviews']">Read Reviews</ion-button>
      </ion-row>
    </ion-grid>

  <tab-menu [productInformationPage]="true" (save)="toggleAddedProduct()"></tab-menu>

</ion-content>
