<ion-content [fullscreen]="true">
  <svg width="1000" height="80" style="position: absolute; top: -10px; left: -10px;">
    <circle cx="400" cy="0" r="80" fill="black" />
  </svg>
  <div *ngIf="settingsSaved" >
    <app-notification [message]="'Settings Updated'"></app-notification>
  </div>
  <div *ngIf="error" >
    <app-error-alert [message]="errorMessage"></app-error-alert>
  </div>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col>
        <div class="header">
          <h1>Fitness Data</h1>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-input label="Height" [(ngModel)]="height" slot="start" [clearOnEdit]="true" placeholder="187cm" required="true"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Weight" [(ngModel)]="weight" slot="start" [clearOnEdit]="true" placeholder="99kg" required="true"></ion-input>
            </ion-item>

            <ion-item>
                <ion-select label="Gender" [(ngModel)]="gender" [value]="gender" slot="start" placeholder="Unselected">
                  <ion-select-option value="0">Male</ion-select-option>
                  <ion-select-option value="1">Female</ion-select-option>
                  <ion-select-option value="2">Prefer Not To Say</ion-select-option>
                </ion-select>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-settings-tab-menu (save)="saveSettings()"/>
</ion-content>
