.menu-container {
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-52%);
  width: 90%;
  z-index: 100;
  border: black solid 2px;
  border-radius: 15px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}


ng-icon {
  margin-right: 12px;
}
