<ion-content [fullscreen]="true">
  <svg width="500" height="1000" style="position: absolute; top: -10px; left: -10px;">
    <circle cx="400" cy="900" r="170" fill="black" />
  </svg>

  <div *ngIf="error" >
    <app-error-alert [message]="errorMessage"></app-error-alert>
  </div>

  <div *ngIf="alert" >
    <app-alert [message]="alertMessage"></app-alert>
  </div>

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col>
        <h1>Register Account</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="username" label="Username" labelPlacement="stacked" [clearOnEdit]="true" placeholder="John Doe" required="true" maxlength="12"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="email" type="email" label="Email" labelPlacement="stacked" [clearOnEdit]="true" placeholder="example@gmail.com" required="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="password" type="password" label="Password" labelPlacement="stacked" [clearOnEdit]="true" placeholder="**************" required="true" minlength="8"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="confirmPassword" type="password" label="Confirm Password" labelPlacement="stacked" [clearOnEdit]="true" placeholder="**************" minlength="8" required="true"></ion-input>
        </ion-item>
      </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-checkbox [(ngModel)]="termsAndConditions" [value]="termsAndConditions" labelPlacement="end">Agree to Terms and Conditions</ion-checkbox>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="createAccount()">Register</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/authentication/landing']">Back to menu</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
