<ion-content [fullscreen]="true">
  <svg width="80" height="80" style="position: absolute; top: -10px; left: -10px;">
    <circle cx="0" cy="0" r="80" fill="black" />
  </svg>
  <div *ngIf="settingsSaved" >
    <app-notification [message]="'Settings Updated'"></app-notification>
  </div>

  <div *ngIf="error" >
    <app-error-alert [message]="errorMessage"></app-error-alert>
  </div>

  <ion-grid [fixed]="true" >
    <ion-row>
      <ion-col>
        <div class="header">
          <h1>Account Management</h1>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-input [(ngModel)]="email" label="Email" labelPlacement="stacked" [clearOnEdit]="true" placeholder="example@gmail.com" required="true"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="password" label="Old Password" labelPlacement="stacked" [clearOnEdit]="true" placeholder="**************" required="true"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="newPassword" label="New Password" labelPlacement="stacked" [clearOnEdit]="true" placeholder="**************" required="true"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="confirmNewPassword" label="Confirm New Password" labelPlacement="stacked" [clearOnEdit]="true" placeholder="**************" required="true"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-settings-tab-menu (save)="saveSettings()"/>
</ion-content>

