<ion-content [fullscreen]="true">
  <svg width="1000" height="1000" style="position: absolute; top: -10px; left: -10px;">
    <circle cx="0" cy="600" r="80" fill="black" />
  </svg>
  <ion-grid [fixed]="true" style="z-index: 1">
    <ion-row>
      <ion-col>
        <div class="header">
          <h1>Goals</h1>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-label>Daily Protein Intake</ion-label>
              <ion-input slot="end" [clearOnEdit]="true" placeholder="180g" required="true"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Daily Step Goal</ion-label>
              <ion-input slot="end" [clearOnEdit]="true" placeholder="10,000" required="true"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Calorie Intake</ion-label>
              <ion-input slot="end" [clearOnEdit]="true" placeholder="2,000" required="true"></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-settings-tab-menu (save)="saveSettings()"/>
</ion-content>
