<ion-content [fullscreen]="true">
  <div class="logout-overlay" *ngIf="logoutConfirmationShow" >
    <app-logout-confirmation [onCancel]="toggleLogoutConfirmationModal.bind(this)"></app-logout-confirmation>
  </div>

  <ion-list lines="full">
  <ion-item [routerLink]="['/settings/account-management']">
    <ion-label>
      <h2>Account Management</h2>
      <p>Manage account email, password, etc</p>
    </ion-label>
  </ion-item>
  <ion-item [routerLink]="['/settings/fitness-data']">
    <ion-label>
      <h2>Fitness Data</h2>
      <p>Manage data regarding weight, height, etc</p>
    </ion-label>
  </ion-item>
  <ion-item [routerLink]="['/settings/goals']">
    <ion-label>
      <h2>Goals</h2>
      <p>Change the amount of calories, protein, etc to reach</p>
    </ion-label>
  </ion-item>
  <ion-item [routerLink]="['/settings/appearance']">
    <ion-label>
      <h2>Appearance</h2>
      <p>Update colour scheme or night mode of app</p>
    </ion-label>
  </ion-item>
  <ion-item [routerLink]="['/settings/notifications']">
    <ion-label>
      <h2>Notifications</h2>
      <p>Select which notifications to receive</p>
    </ion-label>
  </ion-item>
  <ion-item [routerLink]="['/settings/report-issue']">
    <ion-label>
      <h2>Report an issue</h2>
      <p>Submit an issue regarding the function of our app</p>
    </ion-label>
  </ion-item>
  <ion-item (click)="toggleLogoutConfirmationModal()">
    <ion-label>
      <h2>Logout</h2>
      <p>Exit the account currently logged into</p>
    </ion-label>
  </ion-item>
  </ion-list>
  <tab-menu [settingsPage]="true"></tab-menu>
</ion-content>
