<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
          <ion-tab-button *ngIf="profile && !product && !productInformation" [routerLink]="['/profile']">
            Profile
          </ion-tab-button>
          <ion-tab-button *ngIf="!profile && !product && !productInformation" [routerLink]="['/homepage']">
            Back
          </ion-tab-button>
          <ion-tab-button *ngIf="!homepage && !product && !productInformation" (click)="onAddMenu()">
            Add
          </ion-tab-button>
          <ion-tab-button *ngIf="homepage && !product && !productInformation" [routerLink]="['/homepage']">
            Homepage
          </ion-tab-button>
          <ion-tab-button *ngIf="settings && !product && !productInformation" [routerLink]="['/settings']">
            Settings
          </ion-tab-button>
        <ion-tab-button *ngIf="!settings && !product && !productInformation" [routerLink]="['/homepage']">
          Back
        </ion-tab-button>

        <ion-tab-button *ngIf="!barcodeScanner && product && !productInformation" [routerLink]="['/homepage']">
          Back
        </ion-tab-button>

        <ion-tab-button *ngIf="!barcodeScanner && product && !productInformation" [routerLink]="['/product/enter-manually']">
          Enter Manually
        </ion-tab-button>

        <ion-tab-button *ngIf="!enterManually && product && !productInformation" [routerLink]="['/homepage']">
          Back
        </ion-tab-button>

        <ion-tab-button *ngIf="!enterManually && product && !productInformation" [routerLink]="['/product/barcode-scanner']">
          Barcode Scanner
        </ion-tab-button>

        <ion-tab-button *ngIf="!enterManually && !product && productInformation" [routerLink]="['/product/enter-manually']" (click)="resetItem()">
          Back
        </ion-tab-button>
        <ion-tab-button *ngIf="!enterManually && !product && productInformation" (click)="onSave()">
          Add
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
