<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
          <ion-tab-button *ngIf="profile && !product && !productInformation" [routerLink]="['/profile']">
            <ng-icon name="featherUser" />
          </ion-tab-button>
          <ion-tab-button *ngIf="!profile && !product && !productInformation" [routerLink]="['/homepage']">
            <ng-icon name="featherArrowLeft" />
          </ion-tab-button>
          <ion-tab-button *ngIf="!homepage && !product && !productInformation" (click)="onAddMenu()">
            <ng-icon name="featherPlusCircle" />
          </ion-tab-button>
          <ion-tab-button *ngIf="homepage && !product && !productInformation" [routerLink]="['/homepage']">
            <ng-icon name="featherHome" />
          </ion-tab-button>
          <ion-tab-button *ngIf="settings && !product && !productInformation" [routerLink]="['/settings']">
            <ng-icon name="featherSettings" />
          </ion-tab-button>
        <ion-tab-button *ngIf="!settings && !product && !productInformation" [routerLink]="['/homepage']">
          <ng-icon name="featherArrowLeft" />
        </ion-tab-button>

        <ion-tab-button *ngIf="!barcodeScanner && product && !productInformation" [routerLink]="['/homepage']">
          <ng-icon name="featherArrowLeft" />
        </ion-tab-button>

        <ion-tab-button *ngIf="!barcodeScanner && product && !productInformation" [routerLink]="['/product/enter-manually']">
          <ng-icon name="featherType" />
        </ion-tab-button>

        <ion-tab-button *ngIf="!enterManually && product && !productInformation" [routerLink]="['/homepage']">
          <ng-icon name="featherArrowLeft" />
        </ion-tab-button>

        <ion-tab-button *ngIf="!enterManually && product && !productInformation" [routerLink]="['/product/barcode-scanner']">
          <ng-icon name="featherAlignJustify" />
        </ion-tab-button>

        <ion-tab-button *ngIf="!enterManually && !product && productInformation" [routerLink]="['/product/enter-manually']" (click)="resetItem()">
          <ng-icon name="featherArrowLeft" />
        </ion-tab-button>
        <ion-tab-button *ngIf="!enterManually && !product && productInformation" (click)="onSave()">
          <ng-icon name="featherPlusCircle" />
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
