
<ion-content [fullscreen]="true">
  <svg width="500" height="500" style="position: absolute; top: -10px; left: -10px;">
    <circle cx="10" cy="20" r="150" fill="black" />
  </svg>
  <svg width="500" height="240" style="position: absolute; top: -10px; left: -10px; z-index: 10;">
    <circle cx="500" cy="20" r="170" fill="black" />
  </svg>

  <app-add-menu *ngIf="addMenu"></app-add-menu>
  <tab-menu [profile]="true" [homepage]="false" [settings]="true" (addMenu)="toggleAddMenu()"></tab-menu>
</ion-content>
